<mat-toolbar color="primary">
  <span>DNS Checker</span>
</mat-toolbar>
<form class="parent" [formGroup]="dnsCheckerForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Enter Domain or IP</mat-label>
    <input matInput placeholder="URL/IP" formControlName="domain">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Type</mat-label>
    <mat-select formControlName="type">
      <mat-option *ngFor="let dnsType of dnsTypes" [value]="dnsType.type">
        {{dnsType.type}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Expected Value</mat-label>
    <input matInput placeholder="Exact Match" formControlName="expectedValue">
  </mat-form-field>
  <mat-checkbox formControlName="advanced">Advanced</mat-checkbox>
  <button mat-raised-button color="primary">Search</button>
</form>

<div *ngIf="isSubmitted && !dnsCheckerForm.valid" class="error">{{dnsCheckerForm.controls.domain.errors?.['invalidDomain']}}Please enter a valid input</div>

<div class="row">
  <div class="column left">
    <h2>DNS Locations</h2>
    <mat-list>
      <mat-list-item *ngFor="let dnsStatus of dnsStatuses">
        <h3 matListItemTitle class="list-title">
          <mat-icon matListIcon>aspect_ratio</mat-icon>
          <span>{{dnsStatus.location}}</span>
        </h3>
        <div matListItemLine class="list-content">
          <span>OpenDNS</span>
          <span><span class="text-ip">{{dnsStatus.ips}}</span> 
          <mat-icon *ngIf="dnsStatus.status === 'inactive'" matListIcon class="status-icon-false">cancel</mat-icon>
          <mat-icon *ngIf="dnsStatus.status === 'active'" matListIcon class="status-icon-true">check</mat-icon>
        </span>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="column right" *ngIf="apiLoaded | async">
    <h2>DNS Locations Map</h2>
    <google-map height="450px" width="100%" [center]="center" [zoom]="zoom" (mapClick)="addMarker($event)"
      (mapMousemove)="move($event)">
    
      <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition"
        [options]="markerOptions"></map-marker>
    
    </google-map>
  </div>
</div>